/* Navbar CSS */
.navbar {
  overflow: hidden;
  background-color: black;
  font-family: Arial, Arial, Arial;
  z-index: 1000; /* Zorg ervoor dat de navbar boven andere elementen staat */
  position: relative; /* Maakt z-index effectief */
}

/* Dropdownmenu CSS */
.dropdown {
  position: relative; /* Zorgt ervoor dat de dropdown-content zich verhoudt tot dit element */
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333; /* Achtergrondkleur van het dropdownmenu */
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1001; /* Zorg ervoor dat het menu boven andere elementen staat */
  top: 100%; /* Plaatst het menu direct onder de knop */
  left: 0; /* Zorgt ervoor dat het menu links uitgelijnd is met de knop */
  padding: 0; /* Zorgt ervoor dat er geen extra padding is rond het menu */
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Hover-effect voor links in het dropdownmenu */
.dropdown-content a:hover {
  background-color: #555; /* Hover achtergrondkleur */
}

/* Display dropdownmenu bij hover */
.dropdown:hover .dropdown-content {
  display: block; /* Zorgt ervoor dat het menu zichtbaar wordt bij hover */
}
