body {

    background-color: #333;
    text-align: center;
}

body {margin:0;}
h1 {
  color: #87ebff;
}
h2 {
  color: #87ebff;
}
h3 {
  color: #87ebff;
}
h4 {
  color: #87ebff;
}
p {
  color: white;
}
td {
  color: #87ebff;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

/* Basis stijlen voor de navigatiebalk */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

li {
  float: left;
  position: relative;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: #111;
}

/* Dropdown menu */
.dropdown-content {
  display: none; /* Verberg het dropdown-menu standaard */
  position: absolute;
  top: 100%; /* Laat het menu direct onder de parent verschijnen */
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Stijl voor items binnen het dropdown-menu */
.dropdown-content li {
  float: none; /* Verwijder float zodat de items verticaal worden weergegeven */
}

.dropdown-content li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content li a:hover {
  background-color: #ddd;
}

/* Toon het dropdown-menu bij hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Tweede niveau dropdown */
.second-level-menu {
  position: relative;
}

.second-level-content {
  display: none; /* Verberg het tweede niveau standaard */
  position: absolute;
  left: 100%; /* Zorg dat het tweede niveau naast de eerste dropdown verschijnt */
  top: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.second-level-menu:hover .second-level-content {
  display: block; /* Toon het tweede niveau dropdown menu bij hover */
}

/* Stijl voor items binnen het tweede niveau dropdown-menu */
.second-level-content li {
  float: none;
}

.second-level-content li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.second-level-content li a:hover {
  background-color: #ddd;
}
