/* Algemene stijlen voor de pagina */
body {
  background-color: #333;
  text-align: center;
  margin: 0; /* Verwijder dubbele marges */
}

h1, h2, h3, h4, td {
  color: #87ebff;
}

p {
  color: white;
}

/* Navigatiebalk stijlen */
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Footer stijl */
.footer {
  background-color: lightgrey;
  padding: 3px;
  color: black;
  text-align: center;
}

/* Basis stijlen voor de navigatiebalk en dropdown */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  overflow: hidden;
}

li {
  float: left;
  position: relative;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropbtn:hover {
  background-color: #111;
}

/* Verberg de checkboxes */
.dropdown-checkbox {
  display: none;
}

/* Dropdown-menu standaard verbergen */
.dropdown-content, .second-level-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content li, .second-level-content li {
  float: none;
}

.dropdown-content li a, .second-level-content li a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content li a:hover, .second-level-content li a:hover {
  background-color: #ddd;
}

/* Zorg dat het tweede niveau dropdown naast het eerste verschijnt */
.second-level-content {
  left: 100%;
  top: 0;
}

/* Toon dropdown-menu als de checkbox is aangevinkt */
.dropdown-checkbox:checked ~ .dropbtn + .dropdown-content {
  display: block;
}

/* Toon het tweede dropdown-menu als de tweede checkbox is aangevinkt */
.dropdown-checkbox:checked ~ label + .second-level-content {
  display: block;
}
